$background-color-input-field: #261f2b;
$background-color-input: #ffffff;

#search__wrapper {
	margin: 0 5% 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.search__button--prev {
		margin-right: 15px;
	}
	
	.search__button {
		width: 55px;
		height: 55px;
		
		svg {
			width: 100%;
			height: 100%;
		}
	}
	
	.search__input__field {
		margin-left: 50px;
		padding: 10px;
		border-radius: 7px;
		background-color: $background-color-input-field;
		display: flex;
		align-items: center;
		width: 100%;
		min-width: 470px;
		height: 48px;
		transition: background-color 200ms ease-in-out;
		
		&:hover {
			background-color: rgb(52, 42, 60);
		}
		
		&:focus-within img {
			transition: opacity 100ms ease-in-out;
			opacity: 100%;
		}
		
		img {
			width: 24px;
			height: 24px;
			opacity: 0.3;
			margin-right: 15px;
		}
		
		input {
			color: #f7f7f7;
			font-family: 'Inter', serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.21;
			text-align: left;
			border: none;
			outline: none;
			background-color: transparent;
			width: 100%;
			
			&::placeholder {
				color: rgba(113, 95, 129, 0.7);
				font-weight: 400;
			}
		}
	}
}