$f_size__login_title: calc(8 * 0.3vw);
$font_size: 16px;
$error_message_size: calc(4 * 0.25vw);
// colors
$placeholder__color: #715f81b2;
$submit__button__bc: linear-gradient(180deg, rgba(220, 122, 239, 0.8) -101%, #9282ff 82%);
$form__input__bc: #382d3f80;
$link__color: #989898;
$form__input__text: #ffffff;

#main__container {
  background-color: #161119;
  font-family: Inter, sefir, serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;

  #header {
    justify-content: space-between;
    border-bottom: 1px solid rgba(56, 45, 63, 0.5);

    .dropdown-container {
      margin-right: 32px;
    }
  }

  #error__message {
    margin-top: 15px;
    visibility: hidden;
    font-size: $error_message_size;
    color: red;
  }

  .link__create_account {
    margin-top: 15px;
    color: $link__color;

    a {
      font-weight: 600;
      text-decoration: none;
    }

    a:link {
      color: #ffffff;
    }

    /* visited link */
    a:visited {
      color: #ffffff;
    }

    /* mouse over link */
    a:hover {
      color: #ffffff;
    }

    /* selected link */
    a:active {
      color: #ffffff;
    }
  }

  .login__title {
    color: #f7f7f7;
    user-select: none;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 80px 0;
    font-size: $f_size__login_title;
  }

  #login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    //max-height: 300px;
    width: 100%;
    max-width: 600px;

    label {
      color: #989898;
      margin-left: 75px;
      margin-bottom: 7px;
    }

    .form__input {
      color: $form__input__text;
      margin-bottom: 25px;
      font-size: $font_size;
      height: 60px;
      width: 100%;
      max-width: 450px;
      padding: 17px 25px;
      border: none;
      outline: none;
      border-radius: 7px;

      &:placeholder-shown {
        background-color: $form__input__bc;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $form__input__bc inset !important;
        -webkit-text-fill-color: $form__input__text !important;
      }

      &::placeholder {
        font-size: $font_size;
        color: $placeholder__color;
      }
    }

    .form__input {
      background-color: $form__input__bc;
    }

    .password__field {
      height: 60px;
      width: 100%;
      max-width: 450px;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      #password {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .image__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: $form__input__bc;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-right: 15px;

        .showHidePassword {
          user-select: none;
          width: calc(6 * 0.25vw);
          border-radius: 7px;
          transition: 100ms all linear;

          &:hover {
            cursor: pointer;
            transform: scale(0.85);
          }
        }
      }
    }

    .remember-forgot-container {
      width: 100%;
      max-width: 445px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .remember-me {
        user-select: none;

        #remember-me {
          transform: scale(1.2);
          accent-color: transparent;
        }

        .custom-checkbox {
          margin-left: auto;
          position: relative;
          display: inline-block;

          .remember-text {
            margin-left: 13px;
            font-size: calc(4 * 0.25vw);
            color: #989898;
            font-weight: 400;
          }
        }

        .custom-checkbox input[type='checkbox'] {
          appearance: none;
          -webkit-appearance: none;
          background-color: transparent;
          border: 1px solid #715f81;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          outline: none;
          transition: background 0.3s ease;
        }

        .custom-checkbox input[type='checkbox']:checked::before {
          content: '✓';
          color: white;
          font-size: 17px;
          display: block;
          text-align: center;
          line-height: 17px;
        }
      }

      .forgot-password {
        font-family: Inter, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #989898;

        a:link {
          color: $link__color;
        }

        /* visited link */
        a:visited {
          color: $link__color;
        }

        /* mouse over link */
        a:hover {
          color: $link__color;
        }

        /* selected link */
        a:active {
          color: $link__color;
        }
      }
    }

    .submit__button {
      font-family: Inter, sefir, serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 21.78px;
      color: white;
      border-radius: 5px;
      margin-top: 25px;
      padding: 15px 30px;
      width: 100%;
      max-width: 450px;
      height: 50px;
      border: none;
      outline: none;
      background: $submit__button__bc;

      inset: 0;
      transition: 100ms ease-in-out;

      &:hover {
        transform: scale(0.95);
        background: $submit__button__bc;
        border: 1px solid $submit__button__bc;
      }
    }
  }
}
