$font-family: 'Inter', sans-serif;
$border-register-b: #9282ff;
$border-register-b: #9282ff;
$font-size-button: 18px;
$font-color-button: #f2f2f2;

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('@/assets/images/preview/contentBackground.png'); /* путь к твоей картинке */
    background-size: cover; /* покрывает весь элемент */
    background-position: center; /* центрирует изображение */
    background-repeat: no-repeat; /* отключает повторение */

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 1200px;
      border: 2px solid red;
      min-height: 100vh; /* 100% высоты видимого экрана */

      background-image: url('@/assets/images/preview/IMG_8254.png'); /* путь к твоей картинке */
      background-size: cover; /* покрывает весь элемент */
      background-position: center; /* центрирует изображение */
      background-repeat: no-repeat; /* отключает повторение */

      .recommended {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #FFFFFF;

        .title {
          margin-top: 150px;
          font-family: $font-family;
          font-size: 56px;
          font-weight: 400;
          line-height: 65.74px;
          text-align: left;
        }

        .text {
          margin-top: 30px;
          font-size: 32px;
          font-weight: 300;
          line-height: 37.57px;
          text-align: center;
          width: fit-content;
          max-width: 1029px;
          height: 76px;
        }

        .avatars {
          margin-top: 100px;
          width: 100%;
          height: 340px;
          gap: 70px;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }

        .avatar {
          width: 340px;
          height: 340px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 0 20px 5px rgba(220, 122, 239, 0.7); /* Внешнее свечение */
        }

        .avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .playlist-wrapper {
        display: flex;
        text-align: center;
        padding: 50px;
        width: 100%;

        .title {
          font-size: 36px;
          margin-bottom: 10px;

          .text {
            font-size: 18px;
            margin-bottom: 30px;
          }
        }

        .playlists {
          width: 100%;
          gap: 20px;

          .playlist {
            width: 200px;
            border-radius: 10px;

            overflow: hidden;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;

    .m-content {
      width: 100%;
      min-height: 960px;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url('@/assets/images/preview/mainContentBackground.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .preview-title, .preview-info, .preview-text, .link-preview {
        margin-left: 50px;
        font-family: $font-family;
        color: #FFFFFF;
      }

      .preview-title {
        margin-top: 231px !important;
        font-size: 96px;
        font-weight: 600;
        line-height: 116.18px;
        text-align: left;
      }

      .preview-text {
        margin-top: 15px;
        font-size: 30px;
        font-weight: 500;
        line-height: 36.31px;
        text-align: left;
      }

      .preview-info {
        margin-top: 35px;
        max-width: 677px;
        width: fit-content;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
      }

      .link-preview {
        top: 50px;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;
        text-align: left;
        color: #FFFFFF;

        text-decoration: none;
        width: 389px;
        height: 57px;
        padding: 16px 42px;
        border-radius: 5px;

        background: linear-gradient(180deg, #DC7AEF -41.23%, #9282FF 100%);

      }
    }
  }

}

.login-button {
  margin-right: 50px;
  color: $font-color-button;
  font-size: $font-size-button;
  text-decoration: none;
  width: 174px;
  border-radius: 5px;
  padding: 8px 30px;
  background: linear-gradient(180deg, #dc7aef -52.56%, #9282ff 100%);
}

.register-button {
  margin-right: 30px;
  color: $font-color-button;
  font-size: $font-size-button;
  text-decoration: none;
  width: 174px;
  border-radius: 5px;
  padding: 8px 30px;
  border: 1px solid $border-register-b;
}