$background-color: #120E15;

#header {
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 100%;
	min-width: fit-content;
	user-select: none;
	
	align-items: center;
	justify-content: center;
	
	background: $background-color;
	
	.link-main {
		text-decoration: none;
		font-family: Inter, serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 21.78px;
		text-align: left;
		color: rgba(195, 186, 255, 1);
	}
	
	.header__auth {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		.auth__button {
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			font-family: Inter, serif;
			font-size: 18px;
			text-align: left;
			color: rgba(247, 247, 247, 1);
		}
		
		.auth__button--register {
			margin-left: 30px;
			margin-right: 30px;
			width: 174px;
			height: 39px;
			padding: 9px 30px;
			gap: 10px;
			border-radius: 5px;
			border: 1px solid rgba(146, 130, 255, 1);
		}
		
		.auth__button--login {
			margin-right: 50px;
			width: 104px;
			height: 39px;
			top: 30px;
			left: 1416px;
			padding: 9px 30px;
			border-radius: 5px;
			
			background: linear-gradient(180deg, #DC7AEF -52.56%, #9282FF 100%);
			
		}
	}
}