$font-family: 'Inter', sans-serif;
$font-size-name: 16px;
$font-size-author: 14px;
$background-color: rgba(0, 0, 0, 0.01);
@import "@/assets/mixin/_mixins";

.sidebar {
	overflow: hidden;
	
	.ellipse {
		position: absolute;
	}
	
	.ellipse1 {
		@include ellipse(100%, 70%, 0px, 0px, 25%, rgba(68, 23, 112, 0.6), 40px, 0, 0, 150px, 50px);
	}
	
	.ellipse2 {
		margin-top: 20px;
		margin-left: 50px;
		@include ellipse(100%, 40%, 650px, 0px, 40%, rgba(68, 23, 112, 0.6), 150px, 450px, 360px, 0, 700px);
	}
	
	backdrop-filter: blur(300px);
	background: $background-color;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 350px;
	min-width: 350px;
	height: 100%;
	max-height: 933px;
	margin-bottom: 500px;
	
	.noAuthSidebar {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 50px;
		
		.login-text {
			height: fit-content;
			font-size: 14px;
			font-weight: 400;
			line-height: 16.94px;
			text-align: left;
			color: #FFFFFF;
		}
		
		.buttonLogin {
			margin-top: 25px;
			color: #FFFFFF;
			
			font-family: $font-family;
			font-size: 18px;
			font-weight: 500;
			line-height: 21.78px;
			text-align: left;
			
			text-decoration: none;
			width: 104px;
			height: 39px;
			padding: 8px 30px;
			border-radius: 5px;
			background: #9282FF;
			border: 1px solid #9282FF
		}
	}
	
	.logo-wrapper {
		margin-top: 27px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 250px;
		width: 100%;
		height: 48px;
		
		user-select: none;
		
		.title {
			text-align: center;
			color: white;
		}
	}
	
	.aside-nav-panel {
		margin-top: 50px;
		min-width: 250px;
		display: flex;
		flex-direction: column;
		align-items: start;
		
		padding-bottom: 40px;
		border-bottom: 1px solid #797979;
		
		.active-page.nav-item {
			svg {
				stroke: #9282FF;
			}
			
			.nav-panel-item-text {
				color: #9282FF;
			}
		}
		
		.nav-item {
			text-decoration: none;
			margin-bottom: 25px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			
			svg {
				stroke: #BEBEBE;
				min-width: 24px;
				height: 24px;
			}
			
			.nav-panel-item-text {
				text-align: left;
				margin-left: 10px;
				color: #f7f7f7;
				font-family: Arial, serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 21.78px;
			}
		}
	}
	
	.playlists-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		margin-top: 40px;
		min-width: 236px;
		
		.playlists {
			margin-top: 45px;
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			width: 100%;
			height: 400px;
			
			a {
				color: #f7f7f7;
				text-decoration: none;
				font-family: $font-family;
				font-size: $font-size-name;
				
				&:hover {
					color: #bdbdbd;
				}
			}
			
			.playlist-item.like-item {
				.img-wrapper {
					background-color: #8f8f8f;
					
					img {
						width: 24px;
						height: 24px;
					}
				}
			}
			
			.playlist-item {
				max-height: 50px;
				width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				
				.img-wrapper {
					width: 50px;
					height: 50px;
					border-radius: 5px;
					margin-right: 15px;
					
					display: flex;
					align-items: center;
					justify-content: center;
					
					img {
						border-radius: 5px;
						width: 50px;
						height: 50px;
					}
				}
				
				.playlist-item-info {
					display: flex;
					flex-direction: column;
					
					.playlist-author {
						color: #b4b4b4;
						font-size: $font-size-author;
						
						&:hover {
							&:hover {
								color: #7c7c7c;
							}
						}
					}
				}
			}
		}
		
		.playlist-title {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			user-select: none;
			align-items: center;
			
			.title-text {
				color: #f7f7f7;
				font-size: 22px;
				font-weight: 400;
			}
			
			.add-playlist {
				display: flex;
				justify-content: center;
				
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}