$background-color: #313131;
$border-color: #797979;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $background-color;
  height: 50px;
  border-bottom: $border-color 1px solid;
}