$background-color: rgba(20, 17, 23, 1);
//$background-color: #230909;

#header {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: $background-color;
	width: 100%;
	max-width: 100%;
	height: 100px;
	
	box-sizing: border-box;
}