$background-color: #2e2e2e;

body {
	background-color: #120e15;
	width: 100%;
	height: 100vh;
}

#app {
	background-color: #120e15;
	overflow: auto;
	min-width: 100%;
	height: 100vh;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-thumb:active {
	background: #444444;
}
