$f_size__form_title: calc(8 * .30vw);

#main__container {
  font-family: Inertia, "Helvetica Neue", Helvetica, Arial, serif;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;

  .form__title {
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 80px 0;
    font-size: $f_size__form_title;
  }

  #register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    max-height: 260px;

    width: 100%;
    max-width: 600px;
  }
}