$f_size__login_title: calc(8 * .30vw);
$font_size: calc(5 * .25vw);
$placeholder__bc: #525252;
$form__input__bc: #D9D9D9;

#main__container {
  font-family: Inertia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;

  .login__title {
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 50px 0;
    font-size: $f_size__login_title;
  }

  #login__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 600px;

    .form__input {
      color: black;
      margin-bottom: 25px;
      font-size: $font_size;
      background-color: $form__input__bc;
      height: 60px;
      width: 100%;
      max-width: 480px;
      padding: 17px 25px;
      border: none;
      outline: none;
      border-radius: 30px;

      &:placeholder-shown {
        background-color: $form__input__bc;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $form__input__bc inset !important;
        -webkit-text-fill-color: black !important;
      }

      &::placeholder {
        font-size: $font_size;
        color: $placeholder__bc;
      }
    }

    .password__field {
      height: 60px;
      width: 100%;
      max-width: 480px;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      #password {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .image__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: $form__input__bc;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-right: 15px;

        .showHidePassword {
          user-select: none;
          width: calc(6 * .25vw);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .remember-forgot-container {
      width: 100%;
      max-width: 440px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .remember-me {
        user-select: none;
        #remember-me {

        }

        label {
          font-size: calc(4 * .25vw);
          margin-left: 10px;
        }
      }

      .forgot-password {
        font-size: calc(4 * .25vw);
        a:link {
          color: #000000;
        }

        /* visited link */
        a:visited {
          color: #000000;
        }

        /* mouse over link */
        a:hover {
          color: #000000;
        }

        /* selected link */
        a:active {
          color: #000000;
        }
      }
    }
  }
}